/* ################################################ */
/* SETUP PROJECT */
/* ################################################ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}


/*html global font-size*/


/* ################################################ */
/* USE IT LATER */
/* ################################################ */

.row {
    width: 75%;
    margin: 0 auto;
}

section {
    padding: 4rem 0;
}



h1,
h2{
    font-weight: 300;
    text-transform: uppercase;

}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 3rem;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    letter-spacing: .5px;
    font-size: 1.9rem;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}


.marg-t {
    margin-bottom: 1rem;
}

.box {
    padding:1%;
}

.line {
    width: 33rem;
    margin: 0 auto;
    position: relative;
    top: -.7rem;
    left: .3rem;


}

.line:before,
.line:after {
    content: "";
    display: table;
}

.line:after {
    clear: both;
}

.first-line {
    height: 3px;
    width: 16rem;
    background: #28A745;
    float: left;
}

.second-line {
    height: 3px;
    width: 16.5rem;
    background: #DC3545;
    float: left;
}

.h2-after:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 5rem;
    margin: 0 auto;
    margin-top: 1.5rem;

}

/* BUTTONS */

/****** Paragraphs ***********/

.long-copy {
    line-height: 145%;
    width:70%;
    margin-left:15%;
}

.box p {
    line-height: 145%;
    font-size:.9rem;
}


/* ################################################ */
/* ICON */
/* ################################################ */
.icon-bigger {
    font-size:3rem;
    display:block;
    margin-bottom:1rem;
    margin-left:2rem;
    color:#e67e22;
    
}


/* BUTTONS */

.btn:link,
.btn:visited {
    /*a is an inline element*/
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 2rem;
    margin-right: .4rem;
    transition: background-color .5s, border .5s, color .5s;

}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    font-weight: 400;
}


.btn-full:hover,
.btn-full:active {
    border: 1px solid #fff;
    color: #cf6d17;
    background-color: #fff;

}


.btn-ghost:hover,
.btn-ghost:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ################################################ */
/* HEADER */
/* ################################################ */

header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/food_img/hero.jpg);

    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 6rem;
    width: auto;
    float: left;
    margin-top: 1rem;
}

.main-nav {
    margin-top: 0;
    float: right;
    list-style: none;
    margin-top: 2rem;
    font-weight: 400;
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .3rem;
    transition: border .2s;
}


.main-nav li a:hover,
.main-nav li a:active {
    border-left: 2px solid #e88731;
    color: #e88731
}

.danger {
    color: #DC3545;
    font-weight: 400;

}

.success {
    color: #28A745;
    font-weight: 400;
}

